
.indicator {
  width: 25px; 
  height: 40px;
  border: 2px solid #075985;
  border-radius: 50px; 
  position: relative;
}
.indicator:before {
  content: ""; 
  position: absolute;
  width: 8px; 
  height: 8px;
  background: #075985; 
  margin: auto;
  left: 0; 
  right: 0;
  top: 30px; 
  border-radius: 50%;
  animation: animate 1s linear infinite; 
}
@keyframes animate {
  0% {
      opacity: 1; top: 5px;
  }
  100% {
      opacity: 0; top: 30px;
      transform: scale(0.8);
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}


